# Normalize line endings for all files that Git considers text files.
* text=auto eol=lf

# Asset Library download = addons/ + LICENSE + README only. Demo/ is intentionally
# excluded (~634 MB of skinned meshes / textures, too heavy for an install). People
# who want the demo scenes clone the full repo from GitHub instead.
/**          export-ignore
/addons      !export-ignore
/addons/**   !export-ignore
/LICENSE     !export-ignore
/README.md   !export-ignore
